Importo las librerias que voy a utilizar para leer el archivo y quedarme solo con los datos que necesito.

In [2]:
import pandas as pd

In [5]:
archivo = '/home/pickles/Documentos/Universidad/Materias/HCC/proyecto_final/proyecto-HCC/asu.tsv'
data = pd.read_csv(archivo, sep = '|')

In [10]:
data.head(120000)

              X        Y        Z     RAJ2000    DEJ2000         z
0      -0.04896  0.06025  0.08893  129.093602  48.880112  0.118053
1      -0.04927  0.06013  0.08913  129.333969  48.906245  0.118268
2      -0.04945  0.06031  0.08926  129.350815  48.856141  0.118536
3      -0.04775 -0.00249  0.09856  182.990895  64.120498  0.109542
4      -0.04469 -0.00259  0.09177  183.316143  63.997007  0.102103
...         ...      ...      ...         ...        ...       ...
119785 -0.09209  0.02906  0.01642  162.486864   9.651224  0.097955
119786 -0.09187  0.02883  0.01634  162.577575   9.628749  0.097664
119787 -0.08247  0.02693  0.01512  161.916365   9.889721  0.088059
119788 -0.09290  0.03025  0.01698  161.961011   9.860375  0.099168
119789 -0.07300  0.02361  0.01358  162.079082  10.040918  0.077914

[119790 rows x 6 columns]

Defino los vectores columna que voy a utilizar:

In [11]:
RA = data['RAJ2000']
DE = data['DEJ2000']
rs = data['z']

Defino mi nuevo dataframe donde voy a guardar estos vectores.

In [14]:
data1 = {'RAJ2000': RA, 'DEJ2000': DE, 'redshift': rs}
df = pd.DataFrame(data1)

archivo_destino = '/home/pickles/Documentos/Universidad/Materias/HCC/proyecto_final/proyecto-HCC/asu1.tsv'

df.to_csv(archivo_destino, index=False)

In [ ]:
DEJ2000 =